APP_NAME=localhost:8080
APP_ENV=development
FRONTEND_URL=localhost:3456

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=pass
DB_NAME=db
DB_SSLMODE=disable

ALIAS_LENGTH=6
EXPIRES_IN=24
JWT_SECRET=secret
JWT_EXPIRES_IN=86400
